<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<body>
    <h1>All Users</h1>

    <% if (users && users.length > 0) { %>
        <ul>
            <% users.forEach(user => { %>
                <li><%= user.name %> - <%= user.email %> - <%=user.id %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No users found.</p>
    <% } %>

    <a href="/entry">Go Back</a>
</body>
</html>
