<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget</title>
</head>
<body>
    <form action="/forget" method="post">
        <input type="text" placeholder="E-Mail">
        <input type="text" placeholder="New Password">
        <button type="submit">Change password</button>
    </form>
</body>
</html>