<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
       <form action="/" method="POST">
        <h2>Database entry</h2>
        <b>Name</b> <br>
        <input type="text" placeholder="Enter your name" name="name" value="<%=locals.name%>"><br>
        <b>Email</b> <br>
        <input type="email"  name="email"><br>
        <input type="submit">

       </form>
       <form action="/users" method="GET">
        <input type="submit" value="All users">
       </form>
    </div>
</body>
</html>